*deb
*pyc
__pycache__/
*.bin
*.out
inputs/v3_corpus/
inputs/dump/*1095k.csv
inputs/*.ipynb
inputs/*.csv
inputs/*test_v1.csv
inputs/v3_corpus
inputs/*.bin
inputs/dump/*.bin
out_*.csv
*corpus*.csv
env_eron
env_enron
enron_with_categories
